body {
    padding:0;
    margin:0;
    background:#BEA895;
}

img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.design {
    width:1000px;
    height:auto;
}

.caffeine {
    width:500px;
    height:auto;
}

.teeth {
    width:1500px;
    height:auto;
    margin-bottom: 10px;
}

.map {
    top: 65%;
    width:850px;
    height:auto;
}

.pattern {
    width:1000px;
    height:auto;
}

.propaganda {
    width:400px;
    height:auto;
}
.face {
    position: absolute;
    width: 500px;
    height:auto;
}
.mona-lisa {
    position: fixed;
    width: 800px;
    height:auto;
}

@keyframes spinLipstick {
    from{transform: rotate(0deg);}
    to{transform: rotate (360deg);}
}

@keyframes spinLipstick {
    from{transform: rotate(0deg);}
    to{transform: rotate (360deg);}
}

.clock {
    position:absolute;
    transform:translate(-50%, -50%);
}

.lipsticks {
    position: absolute;
    top: 55%;
    left: 300px;
    width: 700px;
    height: auto;

}
.face {
    position: absolute;
    top: 400px;
    left: 300px;
    width: 700px;
    height: auto;
}

.faceSlideshow {
    position: fixed;
    width: 1500px;
    height: auto;
    left: 1200px;
    top: 30%;
}

.faceTitle {
    width: 1000px;
    height: auto;
    position: fixed;
    top: 70%;
    left: 1000px;
}
.LipstickTitle {
    width: 1000px;
    height: auto;
    top: 35%;
    left: 65%;
}
.routine {
    width: 800px;
    height: auto;
    top: 80%;
    left: 75%;
}

.mapTitle {
    width: 500px;
    height: auto;
    top: 20%;
    left: 73%;
}
.stars {
    width: 1500px;
    height: auto;
}
  
  
  
  